body{
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	font-family: sans-serif;
	overflow-x: hidden	;
}

.header{
	width: 100%;
	height: 100vh;
	background-image: url(../images/banner-bg.png);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat; 
	position: relative;
}

.header .nav{
	width: 85%;
	position: fixed;
	z-index: 999;
	top: 5%;
	left: 50%;
	transform: translate(-50%,-5%);
	display: flex;
	padding: 6px 20px;
	border-radius: 80px;
	background-color: white;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

.header .nav .nav-brand {
	flex: 1;
	position: relative;
}

.header .nav .nav-brand img{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.header .nav .nav-menu{
	flex: 9;
}


.header .nav .nav-menu ul .nav-item{
	list-style: none;
	display: inline-block;
	padding: 15px 5px 2px 5px;
}

.header .nav .nav-menu ul .nav-item .nav-link{
	color: black;
	font-size: 12px;
	opacity: .8;
}

.active{
	color: crimson !important;
}

.header .nav .nav-menu ul .nav-item .nav-link:hover{
	color: crimson;
}

.header .nav .nav-menu ul{
	margin-left: 8%;
}

.header-text {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-40%);
}

.header-text h2{
	font-size: 36px;
}

.header-text h2 span{
	font-weight: 600;
}

.header p{
	font-size: 14px;
	font-weight: 400;
}

.header-text a{
	background-color: #fc569c;
	color: white;
	text-decoration: none;
	padding: 13px 25px;
	border-radius: 30px;
	font-size: 12px;
}

.header .row {
	width: 85%;
	position: absolute;
	top: 65%;
	left: 10%;
	transform: translate(-10%,-65%,);
}

.header .row .col-xl-4{
	padding: 15px 0px;
}

.header .row .col-item{
	margin: 10px 15px;
	padding: 15px 5px;
	background-color: white;
	border-radius: 25px;
	box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
	cursor: pointer;
}

.header .row .col-item .col-item-img{
	width: 94px;
	height: 90px;
	position: relative;
	border-radius: 50%;
	background-color: #8b5dfc;
	margin: 20px auto;
	transition: .2s ease-in-out;
}

.header .row .col-item .col-item-img img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}


.header .row .col-item h2{
	font-size: 21px;
	margin: 15px;
	font-weight: 400;
}


.header .row .col-item p{
	font-size: 14px;
	color: rgba(0, 0, 0, 0.445);
	margin: 10px auto;
}

.header .row .col-item:hover .col-item-img{
	background-color: #fc569c;
}

.about{
	margin-top: 100px;
}

.about .row {
	margin-left: 37px;
	display: flex;
	align-items: center;
}

.about .about-title h3{
	font-size: 25px;
	margin-bottom: 25px;
	margin-left: 100px;

}

.about .about-title p{
	color: rgba(0, 0, 0, 0.459);
	font-weight: 400;
	margin-left: 100px;
}

.about .about-title-2 h3{
	font-size: 25px;
	margin-bottom: 25px;
	margin-right: 100px;
}

.about .about-title-2 p{
	color: rgba(0, 0, 0, 0.459);
	font-weight: 400;
	margin-right: 100px;
}

hr{
	margin: 100px 0;
}

/* work */
.cards{
	position: relative;
	top: 50%;
	padding: 100px 0 0 0;
	background-image: url(../images/work-process-bg.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 90vh;
}

.cards .card-text h1{
	margin: 20px 0px;
}

.cards .card-text p{
	margin: 20px 0px;
	font-size: 14px;
	font-weight: 300;
	line-height: 26px;
}

.cards .row{
	position: relative;
	width: 90%;
	margin: 50px 15px;
}

.cards .row .col-xl-2{
	padding: 20px;
	position: relative;
	height: 200px;
	cursor: pointer;
}

.cards .col-xl-2 .card-info{
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: white;	
	height: 100%;
	border-radius: 20px;
	z-index: 2;
	margin-right: 20px;
	transition: .3s ease-in-out;
}

.cards .col-xl-2 .card-info img{
	margin: 20px 0;
}


.cards .col-xl-2 .card-info h4{
	margin: 15px 0;
	font-size: 16px;
	font-weight: 400;
}

.cards .col-xl-2 .card-info p{
	font-size: 15px;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.5);
}

.cards .col-xl-2 .card-info-shadow{
	position: absolute;
	top: 10px;
	margin-right: 20px;
	left: 5px;
	background-color: rgba(255, 255, 255, 0.233);
	width: 92%;
	height: 100%;
	border-radius: 20px;
	z-index: 1;
	transition: .3s ease-in-out;
}

.cards .row .col-xl-2:hover .card-info{
	top: -10px;
}

.cards .row .col-xl-2:hover .card-info-shadow{
	top: 0px;
}

.information{
	padding: 10% 0px;
}

.information .infor-text{
	width: 45%;
}

.information .infor-text h2{
	font-weight: 400;
	margin-bottom: 5%;
}

.information .infor-text p{
	color: rgba(0, 0, 0, 0.596);
}

.information .row{
	width: 85%;
}

.information .row .col-xl-4 .col-item {
	margin: 0px 5px;
	padding: 40px 30px;
	text-align: left;
	box-shadow: 0 2px 48px 0 rgb(0 0 0 / 10%);
	border-radius: 20px;
}

.information .row .col-xl-4 .col-item table tr,td{
	padding-left: 30px;
	position: relative;
	transition: .3s ease-in-out;
}

.information .row .col-xl-4 .col-item img:first-child{
	margin: 15px 50% 25px;
}

.information .row .col-xl-4 .col-item p{
	color: rgba(0, 0, 0, 0.568);
}

.information .row .col-xl-4 .col-item table {
	margin-top: 25px;
	width: 90%;
}

.information .row .col-xl-4 .col-item table h5{
	margin: 0;
	padding: 0;
	font-weight: 400;
}

.information .row .col-xl-4 .col-item table .td-text{
	color: #fc569c;
	font-size: 15px;
	padding-left: 31px;
}

.information .row .col-xl-4 .col-item .col-img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-align: center;
	line-height: 60px;
	font-size: 10px;
	background-color: rgba(0, 0, 0, 0.842);
	color: white;
}

.information .row .col-xl-4:hover tr td:last-child{
	padding-left: 40px; 
}

.plans{
	width: 100%;
	padding: 50px 0;
	background-color: #e9e9fa;
}

.plans .plans-text{
	margin: 40px;
	width: 40%;
}

.plans .plans-text h2{
	font-weight: 400;
	letter-spacing: 1px;
}

.plans .plans-text p{
	font-weight: 300;
	color: rgba(0, 0, 0, 0.452);
	margin: 15px;
	word-spacing: 1px;
}

.plans .row{
	width: 85%;
	margin: 50px 0;
}

.plans .row .col-xl-4{
	padding: 0px 5px;
}

.plans .row .col-xl-4 .col-item{
	padding: 35px 0px;
	width: 100%;
	background-color: white;
	border-radius: 20px;
}

.plans .row .col-xl-4 .col-item b{
	font-size: 17px;
	font-weight: 500;
	letter-spacing: 1px;
}

.plans .row .col-xl-4 .col-item button{
	margin: 15px 0px;
	width: 80%;
	background-color: #8261ee;
	border: none;
	color: white;
	border-radius: 20px;
}

.plans .row .col-xl-4 .col-item button p span{
	font-size: 32px;
}

.plans .row .col-xl-4 .col-item button p{
	font-size: 26px;
	margin: 0px;
	padding: 0px;
}

.plans .row .col-xl-4 .col-item button small{
	font-size: 16px;
	color: white;
	word-spacing: 1px;
}

.plans .row .col-xl-4 .col-item ul li{
	list-style: none;
	padding: 6px 0px;
	opacity: .7;
	font-size: 14px;
}

.plans .row .col-xl-4 .col-item ul{
	margin: 0;
	padding: 0;
}


.number{
	width: 100%;
	padding: 100px;
	background-image: url(../images/fun-facts-bg.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.number .col-xl-3{
	text-align: center;
	color: white;
}

.number .col-xl-3 span{
	font-size: 32px;
	font-weight: 800;
}

.number .col-xl-3 p{
	font-size: 24px;
	font-weight: 500;
}

.number .col-xl-3:hover{
	position: relative;
	bottom: 20px;
}


.contact{
	background-color: rgb(231, 231, 231);
}

footer{
	background-image: linear-gradient(127deg, #a759d1 0%, #8261ee 91%);
}

footer .social-networks{
	display: flex;
	justify-content: center;
	align-items: center;
}

footer .social-networks ul li{
	list-style: none;
	transition: all .3s ease;
}

footer hr{
	padding: 0;
	margin: 20px;
	color: white;
}

footer .social-networks ul li a{
	background-color: white;
	padding: 15px 16px;
	border-radius: 50%;
	font-size: 20px;
	-webkit-transition: all .3s ease;
	color: #a759d1;
}

/*  */

footer p{
	color: white;
	text-align: center;
}

footer .social-networks ul li:hover a{
	background-color: #fc569c;
	color: white;
}